* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("./images/water.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%;
    max-width: 400px;
    background-color: rgba(35, 126, 174, 0.462);

    padding: 35px;
    border-radius: 12px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
}

.login-container p {
    text-align: center;
    color: #777;
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    margin-bottom: 7px;
    font-weight: 600;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 12px;
    margin:10px;
    border: 1px solid #ccc;
    border-radius: 6px;

    font-size: 15px;
    outline: none;
}

.form-group input:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 4px rgba(13, 110, 253, 0.25);
}

.login-btn {
    width: 100%;
    padding: 12px;
    margin:10px;
    border: none;
    border-radius: 6px;

    background-color: #0d6efd;
    color: white;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
}

.login-btn:hover {
    background-color: #8ce7f7;
    color: #000000;
}

#message {
    text-align: center;
    
    font-size: 14px;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
}

.signup-link a {
    color: #0d6efd;
    text-decoration: none;
    font-weight: 600;
}

.signup-link a:hover {
    text-decoration: underline;
}